{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block body %} 
<br><br>
    <body id="page-top">
        <!-- Header-->
        <header class="masthead d-flex align-items-center">
            <div class="container px-4 px-lg-5 text-center">
                <h1 class="mb-1">University Timetable Generator</h1>
                <h3 class="mb-5"><em>Generate timetables fast and effectively using AI</em></h3>
                <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
            </div>
        </header>
        <!-- About-->
        <section class="content-section bg-light" id="about">
            <div class="container px-4 px-lg-5 text-center">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-10">
                        <h2>Stylish Portfolio is the perfect theme for your next project!</h2>
                        <p class="lead mb-5">
                            This theme features a flexible, UX friendly sidebar menu and stock photos from our friends at
                            <a href="https://unsplash.com/">Unsplash</a>
                            !
                        </p>
                        <a class="btn btn-dark btn-xl" href="#services">Generate Now!</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer class="page-footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2023 Copyright:
        <a href="/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->  
        </footer>        
    </body>
{% endblock body %}